# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# dependencies
/node_modules
yarn.*

# IDEs and editors
/.idea

# build tools
.gitignore
.gitattributes
.npmignore

# ci tools
.bithoundrc

# misc
/.github
npm-debug.log
